body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #B7E0FF;
}

button {
    background-color: #FFF5CD;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFCFB3;
    padding: 10px;
    border-bottom: 2px solid #eaeaea;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

#book-table {
    margin-top: 60px;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid 3px #e78f81e6;
    box-shadow: 0 2px 10px #e78f81e6;
    background-color: #FFF5CD;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FFCFB3;
}

button {
    margin: 5px;
}

#addBookForm {
    position: fixed;
    right: 20px;
    top: 20%;
    background-color: #FFCFB3;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    opacity: 0.9;
    z-index: 10;
}

#addBookForm label {
    margin-bottom: 5px;
    color: #333;
}

#addBookForm input {
    background-color: #FFF5CD;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#updateBtn {
    background-color: #e78f81e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#updateBtn:hover {
    background-color: #FFCFB3;
}

#closeForm {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #FFF;
}

#closeForm:hover {
    color: #E78F81;
}

#showContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #B7E0FF;
    border: 1px solid #e78f81e6;
    border-radius: 8px;
    box-shadow: 0 2px 10px #e78f81e6;
    width: 70%;
    max-width: 600px;
    margin: 20px auto;
}

#showContainer img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

